@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item" style=" alignment: center">
            <a class="nav-link text-dark" asp-controller="Game" asp-action="Beastiary" title="Beastiary">
                Beastiary
            </a>
        </li>   
        <li class="nav-item" style=" alignment: center">
            <a class="nav-link text-dark" asp-controller="Game" asp-action="go" title="Town">
                Town
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Profile" title="Manage">
                @TempData["Nickname"]
            </a>
            <div class="text-center">
                <img src="/img/shekel.png" width="16" height="16" style="margin-bottom: 3px;"/> @TempData["Gold"]
            </div>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="Account" asp-action="LogOff" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Account/Login">Login</a>
        </li>
    }
</ul>