<h1>DEBUG methods</h1>
<div class="alert alert-warning">Debug only, remove it in production!</div>
<h3>Money</h3>
<div class="btn-group">
    <a class="btn btn-success" asp-action="Add1MGold" asp-route-returnUrl="@Url.Action("Index")">Add 1M Gold</a>
    <a class="btn btn-danger" asp-action="LoseGold" asp-route-returnUrl="@Url.Action("Index")">Set 0 Gold</a>
    <a class="btn btn-success" asp-action="FightMob" asp-route-returnUrl="@Url.Action("Index")">Fight Mob</a>
</div>