@model WebApplication1.Game.UpdateClasses.Buildings.CMarket
@using WebApplication1.Game.BaseClasses;

@{
    ViewData["Title"] = "Metropolis";
}
<div class="text-center">
    <h2>@Model.Name</h2>
</div>
<div class="row">
    <div class="col">
        <img src="@Model.BigPicture" class="img-fluid" style="width: 100%;">
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-4">
                <div>Список торговцев</div>
            </div>
            @foreach (var locs in Model.Directions)
            {
                <div class="col-8">
                    <a a asp-controller="Game"
                       asp-action="go" 
                       asp-route-id="@locs.LocationId" >
                        <h5>@GLocationsList.GetById(locs.LocationId).Name</h5>
                    @{
                        //тут типа можно еще описаний напихать
                    }
                    </a>
                </div>
            }
        </div>
    </div>
</div>
