@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<img src="https://pp.userapi.com/c846323/v846323096/178fc5/4inDIWl46r0.jpg" width="100%">
